
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}


#time1{
  width: 30%;
}
#time2{
  width: 30%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

#dp{
  width: 50%;

}
#df{
  width: 50%;

}
#ni{
  width: 50%;

}
#des{
  width: 95%;
}

#room{
  width: 45%;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}