<!--<div class="col-md-6 col-sm-4 col-xs-12">
  <form  #userForm1 = "ngForm" (ngSubmit) = "onSubmit2(userForm1)">
      <div class="row">
          <h4><span class="glyphicon glyphicon-lock"></span>Payment details</h4>
          <div class="container-fluid bg-light">
                  <label for="">First name</label>
                  <div>
                      <input type="text" name="firstname" id="firstname" #firstname = "ngModel" [(ngModel)] = "employeeService.payment.FirstName" >
                  </div>
      
                  <label for="">Surname</label>
                  <div>
                  <input type="text" name="surname" id="surname" #surname = "ngModel" [(ngModel)] = "employeeService.payment.Surname">
                  </div>
      
                  <label for="">Card Type</label>
                  <div>
                      <input type="text" name="cardtype" id="cardtype" #cardtype = "ngModel" [(ngModel)] = "employeeService.payment.CardType" placeholder="Visa or Master Card">
                  </div>

                  <label for="">Card Number</label>
                  <div>
                      <input type="text" name="CardNumber" id="CardNumber" #CardNumber = "ngModel" [(ngModel)] = "employeeService.payment.CardNumber">
                  </div>
      
                  <label for="">Security Code</label>
                  <div>
                  <input type="text" name="securityCode" id="securityCode" #securityCode = "ngModel" [(ngModel)] = "employeeService.payment.SecurityCode">
                  </div>
                  <br>
          </div>
          <div class="panel panel-default">
                  <div class="panel-body">
                          <p>By clicking on "Continue" I agree and accept the Terms and conditions of the Travelstart website and its travel partners.</p>
                      <button type="submit" ng-click="clicked()" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>Continue</button>
                  </div>
          </div>  
    
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #0e99f7;"><h3> Booking Details</h3></div>
                <div class="panel-body">
                    <div class="row">
                            <input type="text" class="form-control" name="deptCity" id="deptCity"  #deptCity = "ngModel" [(ngModel)] = "dept" placeholder="Depature City">
                            <input type="text" class="form-control" name="deptTime" id="deptTime"  #deptTime = "ngModel" [(ngModel)] = "dTime" placeholder="Depature Time">
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" name="deptDate" id="deptDate"  #deptDate = "ngModel" [(ngModel)] = "dDate" placeholder="Depature Date">
                    </div>
                    <div class="row">
                            <input type="text" class="form-control" name="arrCity" id="arrCity"  #arrCity = "ngModel" [(ngModel)] = "arr" placeholder="Arrival City">
                            <input type="text" class="form-control" name="arrTime" id="arrTime"  #arrTime = "ngModel" [(ngModel)] = "aTime" placeholder="Arrival Time">
                    </div>
                    <div class="row">
                            <input type="text" class="form-control" name="airline" id="airline"  #airline = "ngModel" [(ngModel)] = "airL" placeholder="Airline Name">
                            <input type="text" class="form-control" name="Cabin" id="Cabin"  #Cabin = "ngModel" [(ngModel)] = "cabin" placeholder="Cabin">
                    </div>
                    <div class="row">
                            <input type="text" class="form-control" name="Stops" id="Stops"  #Stops = "ngModel" [(ngModel)] = "stops" placeholder="Number of stops">
                            <input type="text" class="form-control" name="travelTime" id="travelTime"  #travelTime = "ngModel" [(ngModel)] = "totTime" placeholder="Travel Time">
                    </div>
                   
                    <div class="row">
                            <input type="text" class="form-control" name="flightId" id="flightId"  #flightId = "ngModel" [(ngModel)] = "flightID" placeholder="Flight ID">
                            <input type="text" class="form-control" name="total" id="total"  #total = "ngModel" [(ngModel)] = "totPrice" placeholder="Total Price">
                    </div>
                </div>
           </div>
    </div>
  </form>
</div>-->
<form #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm)">
    <div class="container-fluid bg-light" style="text-align: center">
        <h1>Who's Paying?</h1>
    <div class="col-md-6 col-sm-4 col-xs-12">
        <br>
    
                    <h4><span class="glyphicon glyphicon-lock"></span>Payment details</h4>
                    <div class="container-fluid bg-light">
                            <label for="">First name</label>
                            <div>
                                <input type="text" name="firstname" id="firstname" #firstname = "ngModel" [(ngModel)] = "employeeService.payment.FirstName" >
                            </div>
                
                            <label for="">Surname</label>
                            <div>
                            <input type="text" name="surname" id="surname" #surname = "ngModel" [(ngModel)] = "employeeService.payment.Surname">
                            </div>
                
                            <label for="">Card Type</label>
                            <div>
                                <input type="text" name="cardtype" id="cardtype" #cardtype = "ngModel" [(ngModel)] = "employeeService.payment.CardType" placeholder="Visa or Master Card">
                            </div>
    
                            <label for="">Card Number</label>
                            <div>
                                <input type="text" name="CardNumber" id="CardNumber" #CardNumber = "ngModel" [(ngModel)] = "employeeService.payment.CardNumber">
                            </div>
                
                            <label for="">Security Code</label>
                            <div>
                            <input type="text" name="securityCode" id="securityCode" #securityCode = "ngModel" [(ngModel)] = "employeeService.payment.SecurityCode">
                            </div>
                            <br>
                    </div>
                    <div class="panel panel-default">
                            <div class="panel-body">
                                    <p>By clicking on "Continue" I agree and accept the Terms and conditions of the Travelstart website and its travel partners.</p>
                                <button type="submit" ng-click="clicked()" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>Continue</button>
                            </div>
                    </div>
    </div>
    <img src="assets\images\card.png" class="img-rounded" alt="Cinque Terre" style="width: 250px">
    <div class="col-md-6 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #0e99f7;"><h3>Booking Details</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                        <input type="text" class="form-control" name="deptCity" id="deptCity"  #deptCity = "ngModel" [(ngModel)] = "dept" placeholder="Depature City">
                                        <input type="text" class="form-control" name="deptTime" id="deptTime"  #deptTime = "ngModel" [(ngModel)] = "dTime" placeholder="Depature Time">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control" name="deptDate" id="deptDate"  #deptDate = "ngModel" [(ngModel)] = "dDate" placeholder="Depature Date">
                                </div>
                                <div class="row">
                                        <input type="text" class="form-control" name="arrCity" id="arrCity"  #arrCity = "ngModel" [(ngModel)] = "arr" placeholder="Arrival City">
                                        <input type="text" class="form-control" name="arrTime" id="arrTime"  #arrTime = "ngModel" [(ngModel)] = "aTime" placeholder="Arrival Time">
                                </div>
                                <div class="row">
                                        <input type="text" class="form-control" name="airline" id="airline"  #airline = "ngModel" [(ngModel)] = "airL" placeholder="Airline Name">
                                        <input type="text" class="form-control" name="Cabin" id="Cabin"  #Cabin = "ngModel" [(ngModel)] = "cabin" placeholder="Cabin">
                                </div>
                                <div class="row">
                                        <input type="text" class="form-control" name="Stops" id="Stops"  #Stops = "ngModel" [(ngModel)] = "stops" placeholder="Number of stops">
                                        <input type="text" class="form-control" name="travelTime" id="travelTime"  #travelTime = "ngModel" [(ngModel)] = "totTime" placeholder="Travel Time">
                                </div>
                               
                                <div class="row">
                                        <input type="text" class="form-control" name="flightId" id="flightId"  #flightId = "ngModel" [(ngModel)] = "flightID" placeholder="Flight ID">
                                        <input type="text" class="form-control" name="total" id="total"  #total = "ngModel" [(ngModel)] = "totPrice" placeholder="Total Price">
                                </div>
                            </div>
                       </div>
                </div>   
                   
    </div>
    
</form>


                





